<div id="<%= dom_id scouting_report %>">
  <div>
    <strong>Player name:</strong>
    <%= scouting_report.player_name %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= scouting_report.position %>
  </div>

  <div>
    <strong>Team:</strong>
    <%= scouting_report.team %>
  </div>

  <div>
    <strong>Evaluation:</strong>
    <%= scouting_report.evaluation %>
  </div>

  <div>
    <strong>Grade:</strong>
    <%= scouting_report.grade %>
  </div>

</div>
